.App {
  text-align: center;
}

.App-logo {
  height: 18vmin;
  vertical-align: top;
  border-radius: 8px;
}

.App-header {
  background-color: #223;
  width: 100%;
  font-size: calc(20px + 0vmin);
}

.App-link {
  color: #09d3ac;
}

.App-body{
   background-size: 100% auto
}
