.SideBar {
	width: 265px;
  border-radius: 8px;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	border-bottom: 5px solid #777;
	border-top: 5px solid #777; }
.SideBar li {
	float: none; }
.SideBar li a {
	display: block;
	padding: 45px 30px;
	text-decoration: none;
	font-weight: bold;
	color: black;
  font-size: 20px;
  border-bottom: 5px dotted #777;
	border-right: 5px solid #777;
  border-left:  5px solid #777;}
.SideBar li a:hover {
	color: #c00;
  font-weight: 720;
  font-size: 25px;
  padding: 47px 30px;
  border-radius: 20px;
	background-color: #fff; }
